AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=
GOOGLE_APPLICATION_CREDENTIALS=
AZURE_COMMUNICATION_CONNECTION_STRING=
AZURE_STORAGE_CONNECTION_STRING=
BLOB_CONTAINER_NAME=gcc-ai
